~$*.docx
.DS_Store


# Electron desktop app
dist/
release/
out/
tmp/
test-output/
node_modules/
Hälsodeklarationer.docx
Hälsodeklarationer.md
Jakobsbergs Scoutkar on Jamboree26 - Karens interna anmalan, Anmalan - deltakere.csv
Jamboree26 - Namnlista med deltagare.csv
warnings-to-solve.txt
2026-05-24-health-declaration-generator-design.md
out/
tmp/
